<?xml version="1.0"?>
<launch>
  <arg name="house" default="false"/>
  <arg name="sparse_house" default="false"/>
  <arg name="empty" default="false"/>

  <group if="$(arg house)">
	<arg name="world" value="$(find my_robo_description)/worlds/house.world"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world)"/> 
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>
  </group>

  <group if="$(arg sparse_house)">
	<arg name="world" value="$(find my_robo_description)/worlds/sparse_house_V2.world"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world)"/> 
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>
  </group>

  <group if="$(arg empty)">
	<arg name="world" value="worlds/empty.world"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world)"/> 
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>
  </group>


</launch>
